outputs/
__pycache__/
*.pyc

.venv/
.python-version

*.asv

algorithms/**/demo_output/
algorithms/**/outputs/
algorithms/**/runs/

algorithms/**/weights/
algorithms/**/checkpoints/
*.pyc
*.ckpt
*.pth
*.pt
*.onnx
*.engine
*.trt
*.tflite

*.zip
*.7z
*.rar
*.tar
*.tar.gz
*.tgz
*.exe
